<!doctype html>
<title>5MCSI</title>
<h1>Bienvenue sur le projet Métriques</h1>
<h2>Ceci est le projet de : Prénom Nom</h2>
<p>Si cette page d'accueil est en ligne alors vous avez déjà gagné 2 points sur votre note</p>
<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
<h3>Exercice 1 : Personaliser votre page d'accueil (1 point)</h3>
<p>Modifier le fichier hello.html de votre projet GitHUB afin de préciser votre Prénom et Nom dans la page d'accueil</p>
<p>Notion accquise lors de cet exercice : Vous avez pris connaissance de votre environnement GitHUB avec ses fichiers, ses répertoires et ses "Commits".</p>
<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
<h3>Exercice 2 : Création d'un route (2 points)</h3>
<p>Création d'une nouvelle route (c'est à dire la création d'une API)</p>
L'exercice consiste à créer une nouvelle route /en/ qui affichera "Hello World !"
C'est à dire que l'internaute saisira l'adresse suivante dans son navigateur : <b>https://{Votre URL}/en/</b> et obtiendra le résultat "Hello World !". Vous allez pour cela, depuis GitHUB, ajouter le code suivant dans votre fichier <b>__init__.py</b> :
<pre><code><xmp>
@app.route("/en/")
def MonPremierAPI():
    return "<h2>Hello World !</h2>"
</xmp></code></pre>
Remarque importante : Ce code est à ajouter entre le bloc "app = Flask(__name__)" qui est le début du programme et le bloc "if __name__ == "__main__" à la fin du fichier qui est le lanceur de l'application Python.
<b>Attention l'indentation est très importante en Python.</b>
</p>
<p>Notion accquise lors de cet exercice : Vous avez appris à créer des API (des routes) dans une application Python. Vous pouvez créer autant d'API que vous le souhaitez.</p>
<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
<h3>Exercice 3 : Les données d'une API</h3>
<p>Objectif : Utiliser des API externes pour en créer une nouvelle adaptée à vos besions.</p>
<p>Copier l'URL dans un nouvel onglet de votre navigateur et observez le résultat :</p>
https://api.openweathermap.org/data/2.5/forecast/daily?q=Paris,fr&cnt=16&appid=bd5e378503939ddaee76f12ad7a97608</p>
<p></p>Il s'agit ici des prévisions météorologique de Paris pour les 16 prochains jours.
Vous observerez que nous utilisons une API gratuite fourni par Openweathermap.
C'est typiquement le format que vous trouverez dans le cadre des métriques (serveurs, réseaux, etc..).</p>
<p></p>Les API fournissant en général des données au format JSON. JSON est format structuré avec des étiquettes, également appelé des keys, qui ont pour objectif de fournir des données "brut".<br/>
<b>Prenez quelques minutes pour "comprendre" la structure de ces données JSON.</b></p>
<p>- - - - - </p>
<p>Ce qui nous intérèsse ici, c'est d'extraire de valeur de [dt], c'est à dire les dates et les valeurs de [temp][day], c'est à dire les température du jour.</p>
<p>A noter que les dates sont au format "Timestamp", c'est à dire c'est le nombre de secondes depuis le 1 janvier 2000 (un légacy d'UNIX).
Les températures sont au format Kelvin (qu'il faudra convertir en °C).</p> 
<p>Vous allez à présent créer une nouvelle route "/paris/" dans votre application python pour filtrer l'API d'Openweathermap et extraire uniquement les dates et température du jour.
Ci-dessous la route à ajouter à votre application.</p>
<pre><code><xmp>
@app.route('/paris/')
def meteo():
    response = urlopen('https://api.openweathermap.org/data/2.5/forecast/daily?q=Paris,fr&cnt=16&appid=bd5e378503939ddaee76f12ad7a97608')
    raw_content = response.read()
    json_content = json.loads(raw_content.decode('utf-8'))
    results = []
    for list_element in json_content.get('list', []):
        dt_value = list_element.get('dt')
        temp_day_value = list_element.get('temp', {}).get('day') - 273.15 # Conversion de Kelvin en °c 
        results.append({'Jour': dt_value, 'temp': temp_day_value})
    return jsonify(results=results)
</xmp></code></pre>    

